[MASTER]
ignore-patterns =
    venv/,
    migrations/,
    __pycache__/,
    data/config.py  # Ігноруємо файл з конфіденційними даними

[MESSAGES CONTROL]
disable =
    missing-docstring,  # Не вимагаємо docstring для кожного методу
    too-few-public-methods,
    import-error  # Ігноруємо помилки імпортів AIOgram

[FORMAT]
max-line-length = 120  # Довжина рядка
single-line-if-stmt = yes  # Дозволяємо однострочні умови

[DESIGN]
max-args = 6  # Макс. кількість аргументів функції
max-locals = 15  # Макс. локальних змінних у функції